/* regole generali */
* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(#000000,#3f6e81,#f1f1f1);
  height: 100vh;
  width: 100%;
}

.centre {
  width: 70%;
  margin:100px auto;
  text-align: center;
}

.centre img {
  width: 100%;
  height: 50%;
}

/* box centrale */

.info-box {
  display: flex;
  width: 80%;
  margin:50px auto;
  min-height: 100px;
  background: white;
  border-radius: 20px;
  align-items: center;
}

/* tariffa parte sinistra */

.info-tariffa {
  display: flex;
  height: 100%;
  width: 70%;
  justify-content: space-around;
  align-items:center;
}

.info-tariffa i {
  font-size: 40px;
}

.info-tariffa h3 {
  font-family: 'Dancing Script', cursive;
  font-size: 25px;
}

/* prezzo parte destra */

.prezzo-biglietto {
  font-family: 'Dancing Script', cursive;
  display: flex;
  width: 30%;
  height: 100%;
  justify-content: space-around;
  align-items:center;
}

/* Ringraziamenti footer */

.footer {
  font-family: 'Dancing Script', cursive;
  font-size: 30px;
  margin-top: 50px;
  text-align: center;
  color:white;
}

/* Animazioni acquista biglietto */

.prezzo-biglietto > a {
  color:black;
  font-size: 25px;
  margin:0 20px;
  text-decoration: none;
  animation: text_opacity 2s linear infinite;
}

/* Animation Settings */

@keyframes text_opacity {
  0% {opacity: 1;}
  50% {opacity: 0;}
  100% {opacity: 1;}
}

.prezzo-biglietto > a:hover {
  animation:step-end;
}
